{% extends 'StemsPageBundle:Layout:' ~ page.layout.slug ~ '.html.twig' %}

{% import 'StemsSocialBundle:Macro:share.html.twig' as share %}

{% block twitterCard %}
	<meta name="twitter:card" content="photo">
	<meta name="twitter:url" content="{{ app.request.uri }}">
	<meta name="twitter:description" content="{{ post.excerpt }}">
	<meta name="twitter:image" content="{{ getMediaImage(post.image).src|imagine_filter('page_banner') }}">
	<meta name="twitter:site" content="@threadandmirror">
	<meta name="twitter:creator" content="@threadandmirror">
	<meta name="twitter:title" content="{{ post.title ~ ' - ' ~ post.subtitle }}">
	<meta name="twitter:domain" content="http://www.threadandmirror.com">
{% endblock %}

{% block breadcrumbs %}<a href="{{ path('thread_blog_front_editors_pick', { 'slug' : post.slug }) }}">Editor's Picks: {{ post.title ~ ' - ' ~ post.subtitle }}</a>{% endblock %}