{% extends 'StemsPageBundle:Layout:' ~ page.layout.slug ~ '.html.twig' %}

{% import 'StemsSocialBundle:Macro:share.html.twig' as share %}

{% block twitterCard %}
	<meta name="twitter:card" content="photo">
	<meta name="twitter:url" content="{{ app.request.uri }}">
	<meta name="twitter:description" content="{{ collection.caption }}">
	<meta name="twitter:image" content="{{ collection.picks[0].image }}">
	<meta name="twitter:site" content="@threadandmirror">
	<meta name="twitter:creator" content="@threadandmirror">
	<meta name="twitter:title" content="{{ collection.header }}">
	<meta name="twitter:domain" content="http://www.threadandmirror.com">
{% endblock %}

{% block breadcrumbs %}<a href="{{ path('thread_editorspicks_front_collection', { 'slug' : collection.slug }) }}">Editor's Picks: {{ collection.header }}</a>{% endblock %}

{% block banner %}
	<div class="banner" style="background-image:url('{{ getMediaImage(collection.image).src|imagine_filter('page_banner') }}');background-size:cover;background-position:center;"></div>
	<div class="banner-inset">
		<div class="banner-thumbnail" style="background-image:url('{{ getMediaImage(collection.image).src|imagine_filter('page_banner') }}');background-size:cover;background-position:center;"></div>
		<p class="date">{{ collection.published|date('jS F Y') }}</p>
		<div class="social">
			{{ share.shareGoogleplus(collection.sharer('googleplus')) }}
			{{ share.sharePinterest(collection.sharer('pinterest')) }}
			{{ share.shareTwitter(collection.sharer('twitter')) }}
			{{ share.shareFacebook(collection.sharer('facebook')) }}	
		</div>
		{% block title %}<h1>{{ collection.header }}</h1>{% endblock %}
		<hr>
		{% block content %}
			{% if collection.caption is not empty %}<p class="caption">{{ collection.caption }}</p>{% endif %}
		{% endblock %}
	</div>
{% endblock %}

{% block dynamic %}
	<article class="editors-picks" itemscope itemtype="http://schema.org/Article">
		{% embed 'ThreadAndMirrorEditorsPicksBundle:Embed:' ~ collection.layout ~ '.html.twig' %}{% endembed %}
	</article>
{% endblock %}