{% extends 'admin.html.twig' %}

{% block title %}
	{% if collection.id is not empty %}
		Edit Collection &middot; {{ collection.header }}
	{% else %}
		Create New Collection
	{% endif %}
{% endblock %}

{% block content %}
	{% if collection.id is not empty %}
		<h1 class="pages">Edit Collection: <span>{{ collection.header }}</span></h1>
	{% else %}
		<h1 class="pages">Create New Collection</h1>
	{% endif %}
	<form method="post">
		<div class="admin-editor admin-editorspicks-editor">
			<div class="edit-tabs">
				<ul>
					<li></li>
					<li><a href="#" data-tab="edit-collection-layout" class="active">Layout <i class="fa fa-th-large fa-fw"></i></a></li>
					<li><a href="#" data-tab="edit-collection-seo">SEO <i class="fa fa-bar-chart-o fa-fw"></i></a></li>
					<li></li>
				</ul>
			</div>
			<div class="edit-panels">
				<div class="edit-panel" id="edit-collection-layout">
					{{ form_row(form._token) }}
					{{ form_row(form.header) }}
					{{ form_row(form.caption) }}
					{% include 'StemsMediaBundle:Include:featureImage.html.twig' with { 'article' : collection, 'form' : form, 'category' : 'editors-pick' } %}
					<div class="horizontal-radio">
						{{ form_row(form.layout) }}
					</div>
					<label>Attached Products</label>
					<div class="add-item-to-gallery">
						<ul class="sortable">
							{% for offset,pick in collection.picks %}
								{% embed 'ThreadAndMirrorEditorsPicksBundle:Rest:pick.html.twig' %}{% endembed %}
							{% endfor %}
						</ul>
						<div class="add-item" data-offset="{{ collection.picks|length }}">
							<input type="text" id="add-pick-url" placeholder="Product Link">
							<a href="{{ path('thread_editorspicks_popup_collection_addpick') }}" id="add-pick-from-url" class="btn btn-small btn-primary"><i class="fa fa-plus"></i> Add Product From Url</a>
							<label>or</label> 
							<a href="{{ path('thread_editorspicks_popup_collection_addpick') }}" id="add-pick-manually" class="btn btn-small btn-primary"><i class="fa fa-plus"></i> Add Product Manually</a>
							<img class="loader" src="/images/admin/icons/loader-add-to-gallery.gif" width="32" height="32">
						</div>
						<br class="clear">
					</div>
					<br class="clear">
				</div>
				<div class="edit-panel" id="edit-collection-seo" style="height:0px">
					{{ form_row(form.metaTitle) }}
					{{ form_row(form.metaKeywords) }}
					{{ form_row(form.metaDescription) }}
				</div>
			</div>
		</div>
		<br class="clear">
		<div class="admin-editor-controls">
			<input class="btn btn-success" type="submit" value="Save">
			{% if collection.id is not empty %}
				{% if collection.status == 'Published' %}
					<a href="{{ path('thread_editorspicks_admin_collections_publish', { 'id' : collection.id }) }}" class="btn btn-warning" >Unpublish</a>
				{% else %}
					<a href="{{ path('thread_editorspicks_admin_collections_publish', { 'id' : collection.id }) }}" class="btn btn-success" >Publish</a>
				{% endif %}
				<a href="{{ path('thread_editorspicks_admin_collections_delete', { 'id' : collection.id }) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this collection?" >Delete</a>
			{% endif %}
			<a href="{{ path('thread_editorspicks_admin_collections') }}"class="btn" >Cancel</a>
		</div>
	</form>
{% endblock %}
