{% extends 'admin.html.twig' %}

{% block title %}Editor's Picks{% endblock %}

{% block content %}
	<h1 class="pages">Editor's Picks</h1>
	<div class="controls">
		<a href="{{ path('thread_editorspicks_admin_collections_create') }}" class="btn btn-primary right"><i class="fa faw-fw fa-plus"></i> Add New Collection</a>
		<br class="clear"/>
	</div>
	<table>
		<thead>
			<tr>
				<th><a>Title &amp; Excerpt</a></th>
				<th><a>Product Sample</a></th>
				<th><a>Status</a></th>
				<th><a>Updated</a></th>
				<th width="100px">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for collection in collections %}
				<tr>
					<td><h4>{{ collection.header }}</h4><p class="subtext">{{ collection.caption|slice(0, 200) ~ '...' }}</p></td>
					<td>
						{% if collection.picks|length > 0 %}<img src="{{ collection.picks[0].image }}" height="54" width="54" />{% endif %}
						{% if collection.picks|length > 1 %}<img src="{{ collection.picks[1].image }}" height="54" width="54" />{% endif %}
						{% if collection.picks|length > 2 %}<img src="{{ collection.picks[2].image }}" height="54" width="54" />{% endif %}
					</td>
					<td>{{ collection.status }}</td>
					<td><p>{{ collection.updated|date('d/m/Y') }}</p></td>
					<td>
						<a href="{{ path('thread_editorspicks_front_collection_preview', { 'slug' : collection.slug }) }}" class="btn btn-circle btn-small" target="_blank" title="Preview"><i class="fa fa-fw fa-eye"></i></a> 
						<a href="{{ path('thread_editorspicks_admin_collections_edit', { 'id' : collection.id }) }}" class="btn btn-circle btn-small" title="Edit"><i class="fa fa-fw fa-pencil"></i></a> 
						{% if collection.status == 'Published' %}
							<a href="{{ path('thread_editorspicks_admin_collections_publish', { 'id' : collection.id }) }}" class="btn btn-success btn-circle btn-small" title="Unpublish" ><i class="fa fa-fw fa-globe"></i></a>
						{% else %}
							<a href="{{ path('thread_editorspicks_admin_collections_publish', { 'id' : collection.id }) }}" class="btn btn-warning btn-circle btn-small" title="Publish" ><i class="fa fa-fw fa-globe"></i></a>
						{% endif %}
						<a href="/admin/blog/{{ collection.id }}/delete" class="btn btn-danger btn-circle btn-small" title="Delete" onclick="return confirm('Are you sure you want to delete this post?');"><i class="fa fa-fw fa-times"></i></a> 
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6"><p>There are no collections</p></td>
				</tr>
			{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<th><a>Title &amp; Excerpt</a></th>
				<th><a>Product Sample</a></th>
				<th><a>Status</a></th>
				<th><a>Updated</a></th>
				<th width="100px">Actions</th>
			</tr>
		</tfoot>
	</table>
{% endblock %}
