<div class="editors-picks-featured">
	<div class="pick">
		<a href="{{ collection.picks[0].url }}">
			<img src="{{ collection.picks[0].image }}" height="300" alt="{{ collection.picks[0].designer }} {{ collection.picks[0].name }}">
			<h2>{{ collection.picks[0].name }}<span>{{ collection.picks[0].designer }}</span></h2>
			<p>{{ collection.picks[0].caption }}</p>
		</a>
	</div>
</div>