{% extends 'admin.html.twig' %}

{% block title %}Edit Post &middot; {{ post.title }}{% endblock %}

{% block content %}
	<h1 class="pages">Edit Post: <span>{{ post.title }}{% if post.subtitle is not empty %} - {{ post.subtitle }}{% endif %}</span></h1>
	{{ form_errors(form) }}
	<form method="post">
		<div class="admin-editor admin-blog-editor">
			<div class="edit-tabs">
				<ul>
					<li></li>
					<li><a href="#" data-tab="edit-post-overview" class="active">General <i class="fa fa-tasks fa-fw"></i></a></li>
					<li><a href="#" data-tab="edit-post-content">Content <i class="fa fa-file-text-o fa-fw"></i></a></li>
					<li><a href="#" data-tab="edit-post-tags">Tags <i class="fa fa-tags fa-fw"></i></a></li>
					<li><a href="#" data-tab="edit-post-seo">SEO <i class="fa fa-bar-chart-o fa-fw"></i></a></li>
					<li></li>
				</ul>
			</div>
			<div class="edit-panels">
				<div class="edit-panel" id="edit-post-overview">
					{{ form_row(form.title) }}
                    {{ form_row(form.subTitle) }}
					{{ form_row(form.excerpt) }}
                    {{ form_row(form.category) }}
					{{ form_label(form.image) }}
					<div class="feature-image-container">
						{% if post.image is not empty %}
							<div class="feature-image">
								<img 
									src="{{ getMediaImage(post.image).src }}" 
									{% if getMediaImage(post.image).width > 738 %}
										width="738"
									{% else %}
										width="{{ getMediaImage(post.image).width }}"
									{% endif %}
								/>
								<div class="button-holder">
									<div>
										<div>
											<a class="btn btn-primary rest-get-popup" href="{{ path('thread_blog_popup_set_feature_image', { id : post.id }) }}"><i class="fa fa-picture-o"></i> Change Feature Image</a>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<div class="feature-image feature-image-empty">
								<div class="button-holder">
									<div>
										<div>
											<a class="btn btn-primary rest-get-popup" href="{{ path('thread_blog_popup_set_feature_image', { id : post.id }) }}"><i class="fa fa-picture-o"></i> Add Feature Image</a>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{{ form_widget(form.image) }}
					</div>
				</div>
				<div class="edit-panel" id="edit-post-seo" style="height:0px">
					{{ form_row(form.metaTitle) }}
					{{ form_row(form.metaKeywords) }}
					{{ form_row(form.metaDescription) }}
				</div>
				<div class="edit-panel" id="edit-post-tags" style="height:0px">
					Tags go here
				</div>
				<div class="edit-panel" id="edit-post-content" style="height:0px">
					<div id="packery-editor" class="layout-editor col-{{ post.span }}" style="height:{{ form.vars.value.height }}px">
						{% for sectionForm in sectionForms %}
							{{ sectionForm|raw }}
						{% endfor %}
						<br class="clear">
					</div>
					<div id="add-section">
						<div class="available-sections">
							<a href="{{ path('thread_blog_rest_add_section_type', { type: 'text' }) }}" class="btn btn-large btn-primary" title="Add Paragraph"><i class="fa fa-align-left"></i></a>
                            <a href="{{ path('thread_blog_rest_add_section_type', { type: 'image' }) }}" class="btn btn-large btn-primary" title="Add Image"><i class="fa fa-picture-o"></i></a>
                            <a href="{{ path('thread_blog_rest_add_section_type', { type: 'heading' }) }}" class="btn btn-large btn-primary"  title="Add Heading"><i class="fa fa-header"></i></a>
                            <a href="{{ path('thread_blog_rest_add_section_type', { type: 'list' }) }}" class="btn btn-large btn-primary" title="Add List"><i class="fa fa-list-ul"></i></a>
                            <a href="{{ path('thread_blog_rest_add_section_type', { type: 'product' }) }}" class="btn btn-large btn-primary" title="Add Product"><i class="fa fa-shopping-cart"></i></a>
                            <a href="{{ path('thread_blog_rest_add_section_type', { type: 'product_gallery' }) }}" class="btn btn-large btn-primary" title="Add Product Gallery"><i class="fa fa-th-large"></i></a>
						</div>
					</div>
					{{ form_row(form.height) }}
				</div>
			</div>
		</div>
		<br class="clear">
		<div class="admin-editor-controls">
			<input class="btn btn-success" type="submit" value="Save">
			{% if post.status == 'Published' %}
				<a href="{{ path('thread_blog_admin_publish', { 'id' : post.id }) }}" class="btn btn-warning" >Unpublish</a>
			{% else %}
				<a href="{{ path('thread_blog_admin_publish', { 'id' : post.id }) }}" class="btn btn-success" >Publish</a>
			{% endif %}
			<a href="{{ path('thread_blog_admin_delete', { 'id' : post.id }) }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this post?" >Delete</a>
			<a href="{{ path('thread_blog_admin_index') }}" class="btn" >Cancel</a>
		</div>
	</form>
{% endblock %}
