<li class="item">
	<img src="{{ form.picks[offset].vars.value.image }}" height="200" />
	<div class="caption">
		<h6>{{ form.picks[offset].vars.value.name }}</h6>
		<p>{{ form.picks[offset].vars.value.designer }}</p>
	</div>
	<a href="/edit-goes-here" class="btn btn-small btn-primary rest-get-popup" title="Edit Product"><i class="fa fa-pencil"></i></a>
	<button class="show-link btn btn-small" title="Open Link"><i class="fa fa-link"></i></button>
	<button class="remove-item btn btn-small btn-danger" title="Remove Pick"><i class="fa fa-times"></i></button>
	{# Form #}
	<div class="gallery-item-form">
		{{ form_row(form.picks[offset].designer) }}
		{{ form_row(form.picks[offset].name) }}
		{{ form_row(form.picks[offset].description) }}
		{{ form_row(form.picks[offset].url) }}
		{{ form_row(form.picks[offset].image) }}
		{{ form_row(form.picks[offset].product) }}
	</div>
</li>