<div class="widget widget-editors-picks">
	<div>
		<div class="background" style="background:url('{{ getMediaImage(post.image).src|imagine_filter('blog_homepage_main') }}') center center; background-size:cover;"></div>
		<div class="feature-article wrap" >
			<a href="{{ path('thread_editorspicks_front_post', { 'slug' : post.slug }) }}">
				<div class="title">
					<p>Editor's Picks</p>
					<h2>{{ post.title }}</h2>
					<h4><span></span>{{ post.subtitle }}<span></span></h4>
					<button class="button-invert">Read More</button>
				</div>
			</a>
			<div class="image" style="background:url('{{ getMediaImage(post.image).src|imagine_filter('blog_homepage_circle') }}') center center; background-size:cover;"></div>
			<div class="picks">
				{#{% include 'ThreadAndMirrorEditorsPicksBundle:Include:' ~ post.layout ~ '.html.twig' with { post : post } %}#}
			</div>
		</div>
	</div>
</div>