<div class="widget widget-editors-picks">
	<div>
		<div class="background" style="background:url('{{ getMediaImage(post.image).src|imagine_filter('blog_homepage_main') }}') center center; background-size:cover;"></div>
		<div class="feature-article wrap" >
			<a href="{{ path('thread_editorspicks_front_post', { 'slug' : post.slug }) }}">
				<div class="title">
					<p class="title-faded-sans">Editor's Picks</p>
					<h2>{{ post.title }}</h2>
					<h4><span></span> {{ post.subtitle }} <span></span></h4>
					<button class="button-invert">Read More</button>
				</div>
			</a>
			<a href="{{ path('thread_editorspicks_front_post', { 'slug' : post.slug }) }}" class="image" style="background-image:url('{{ getMediaImage(post.image).src|imagine_filter('blog_homepage_circle') }}');"></a>
            {% for product in products %}
                <a href="{{ product.url }}" class="product pos-{{ loop.index }}" style="background-image:url('{{ getImageFromUrl(product.image).src|imagine_filter('section_image_large') }}');"></a>
            {% endfor %}
		</div>
	</div>
</div>