<div class="widget widget-editors-picks">
	<h5><span>Editor's Picks</span></h5>
	<div class="previous-picks left">
		{% for pick in picks %}
			{% if loop.index == 2 or loop.index == 4 %}
				<a href="{{ pick.url }}" >
					<div style="background:url('{{ pick.image }}') center center; background-size:cover;"></div>
					<h2>{{ pick.designer }}</h2>
					<h3><span>{{ pick.name }}</span></h3>
				</a>
			{% endif %}
		{% endfor %}
	</div>
	<div class="latest-pick left">
		<a href="{{ picks[0].url }}">
			<img src="{{ picks[0].image }}" height="300">
			<h2>{{ picks[0].name }}<span>{{ picks[0].designer }}</span></h2>
			<p>{{ picks[0].description }}</p>
		</a>
	</div>
	<div class="previous-picks left">
		{% for pick in picks %}
			{% if loop.index == 3 or loop.index == 5 %}
				<a href="{{ pick.url }}" >
					<div style="background:url('{{ pick.image }}') center center; background-size:cover;"></div>
					<h2>{{ pick.designer }}</h2>
					<h3><span>{{ pick.name }}</span></h3>
				</a>
			{% endif %}
		{% endfor %}
	</div>
	<br class="clear">
</div>