{% extends 'StemsCoreBundle:Popup:default.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block classes %}{% endblock %}

{% block content %}
	<div class="two-column">
		<div class="column">
			<form action="{{ path('thread_products_rest_update_product_section', { id: section.id }) }}" method="post">
				{{ form_row(form.designer) }}
				{{ form_row(form.name) }}
				{{ form_row(form.url) }}
				{{ form_row(form.image) }}
                <div style="visibility:hidden;">
                    {{ form_rest(form) }}
                </div>
            </form>
		</div>
		<div class="column">
			<label>Image Preview</label>
			<div class="popup-image-preview" {% if section.image is not empty %}style="background-image:url('{{ section.image }}')"{% endif %}></div>
		</div>
		<br class="clear">
	</div>
	<button class="btn btn-success rest-post-popup">Save Product</button>
	<br class="clear">
{% endblock %}
