<div class="product" itemscope itemtype="http://schema.org/Product" data-id="{{ product.id }}">
	<p class="shop" itemprop="brand" itemprop="manufacturer">{{ product.shop.name }}</p>
	<a class="buy" style="display:none" href="{{ path('thread_products_front_product_buy', { slug : product.slug }) }}" target="_blank" rel="nofollow" onClick="ga('send', 'event', 'Referrals', 'Buy', '{{ product.shop.slug }}', {{ (product.now * (product.shop.affiliateRate / 100))|number_format(0, '.', '') }});"><i class="fa fa-shopping-cart"></i></a>
	<div class="placeholder"></div>
	<div class="image" style="background-image:url('{{ product.gridImage }}')"></div>
	<h3 class="name" itemprop="name"><span class="brand">{{ product.brand ? product.brand.name : '' }}</span><br>{{ product.name|raw }}</h3>
	<div itemprop="description" class="description">{{ product.description|raw }}</div>
	{% if product.sale and product.was > 0 %}
		<p class="price sale" itemprop="offers" itemscope itemtype="http://schema.org/Offer"><span class="smaller fade">WAS</span> <span class="fade">£{{ product.was|number_format(0, '.', '') }}</span> &nbsp; <span class="smaller">NOW</span> £<span itemprop="price">{{ product.now|number_format(0, '.', '') }}</span></p>
	{% else %}
		<p class="price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">£<span itemprop="price">{{ product.now|number_format(0, '.', '') }}</span></p>
	{% endif %}
	<a href="/product/{{ product.slug }}" data-pid="{{ product.id }}" itemprop="url" 
		{% if product.available %}
			class="view" title="View Details"
		{% else %}
			class="view unavailable" 
			{% if product.expired is not null %}
				title="No Longer Available" 
			{% else %}
				title="Out of Stock"
			{% endif %}
		{% endif %}
		>
		{% if product.expired is not null %}
			<p class="out-of-stock">No Longer Available</p>
		{% elseif product.available == false %}
			<p class="out-of-stock">Out of Stock</p>
		{% endif %}
	</a>
	<p class="add-to-wishlist {% if app.user %}logged-in{% endif %}" title="Add to Wishlist" data-id="{{ product.id }}"><i class="fa fa-heart"></i></p>
	{# For enabling brand/category crawling #}
	{% if brand is defined and product.category is not empty %}
		<a href="{{ path('thread_products_front_brands_category', { 'slug' : brand.slug, 'category' : product.category.slug }) }}" style="visiblity:invisible"></a>
	{% endif %}
</div>