<div class="product-gallery section-product-gallery-{{ form.vars.value.style }}">
    <button class="section-product-gallery-{{ form.vars.value.style }}__prev prev"><i class="fa fa-angle-left"></i></button>
    <button class="section-product-gallery-{{ form.vars.value.style }}__next next"><i class="fa fa-angle-right"></i></button>
    <div class="feature-image">
        {% for product in form.vars.value.products %}
            <div class="product" {% if loop.index != 1 %}style="display:none"{% endif %} data-image="{{ loop.index }}">
                <img src="{{ product.image }}" height="400" alt="{{ product.heading }} {{ product.caption }}" />
                <div class="caption">
                    {% if product.heading is not empty %}<h6>{{ product.heading }}</h6>{% endif %}
                    {% if product.caption is not empty %}<p>{{ product.caption }}</p>{% endif %}
                </div>
                <a href="{{ product.url }}" target="_blank" rel="nofollow"></a>
            </div>
        {% endfor %}
    </div>
    <div class="gallery-thumbnails">
        {% for product in form.vars.value.products %}
            <div class="product" data-image="{{ loop.index }}">
                <img src="{{ product.thumbnail }}" height="50" alt="{{ product.heading }} {{ product.caption }}" />
            </div>
        {% endfor %}
    </div>
</div>
<div class="section-product-gallery-form">
    <ul class="sortable">
        {% for product in form.vars.value.products %}
            {% embed 'StemsBlogBundle:Rest:productGalleryProduct.html.twig' %}{% endembed %}
        {% endfor %}
    </ul>
    <div class="section-product-gallery-form__add-item" data-productgallery-id="{{ form.vars.value.id }}">
        <input class="section-product-gallery-form__add-item-input" type="text" placeholder="Product Link">
        <a class="btn btn-small btn-primary section-product-gallery-form__item-btn from-link"><i class="fa fa-plus"></i> Add Product From Link</a>
        <label class="section-product-gallery-form__add-item-label">or</label>
        <a href="/admin/products/popup/add-product-gallery-product/{{ form.vars.value.id }}" class="btn btn-small btn-primary rest-get-popup section-product-gallery-form__item-btn"><i class="fa fa-plus"></i> Add Product Manually</a>
        <img class="section-product-gallery-form__add-item-loader" src="/images/admin/icons/loader-add-to-gallery.gif" width="32" height="32">
    </div>
    <br class="clear">
</div>