<div class="preview-image {{ section.position }} {% if section.image is empty %}preview-image-empty-mini{% endif %}">
    {% if section.image is not empty %}
        {% if section.effect == 'cutout' %}
            <img src="{{ getImageFromUrl(section.image).src|transparentColor }}" />
        {% else %}
            <img class="{% if section.effect != 'none' %}css-filter-{{ section.effect }}{% endif %}" src="{{ getImageFromUrl(section.image).src|imagine_filter('section_image_large') }}" />
        {% endif %}
        <div class="button-holder">
            <div>
                <div>
                    <a class="btn btn-primary rest-get-popup" href="{{ path('thread_products_popup_update_product_section', { id : section.id }) }}"><i class="fa fa-shopping-cart"></i> Edit Product</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="button-holder">
            <div>
                <div class="add-product">
                    <a href="{{ path('thread_products_rest_add_product_to_section', { id : section.id }) }}" class="btn btn-small btn-primary from-link"><i class="fa fa-plus"></i> Add Product From Link</a>
                    <input type="text" placeholder="Product Link">
                    {#<label>or</label>#}
                    {#<a href="/admin/products/popup/add-product-gallery-product/{{ form.vars.value.id }}" class="btn btn-small btn-primary rest-get-popup"><i class="fa fa-plus"></i> Add Product Manually</a>#}
                    <img class="loader" src="/images/admin/icons/loader-add-to-gallery.gif" width="32" height="32">
                </div>
            </div>
        </div>
    {% endif %}
</div>