<div class="product-gallery gallery-layout-feature section-product-gallery-{{ form.vars.value.style }}">
    {% if form.vars.value.style == 'feature' %}
        <button class="section-product-gallery-feature__prev prev"><i class="fa fa-angle-left"></i></button>
        <button class="section-product-gallery-feature__next next"><i class="fa fa-angle-right"></i></button>
        <div class="section-product-gallery-feature__feature-image">
            {% for product in form.vars.value.products %}
                <div class="section-product-gallery-feature__product" {% if loop.index != 1 %}style="display:none"{% endif %} data-image="{{ loop.index }}">
                    <img src="{{ product.image }}" height="400" alt="{{ product.heading }} {{ product.caption }}" />
                    <div class="section-product-gallery-feature__caption">
                        {% if product.heading is not empty %}<h3 class="section-product-gallery-feature__caption-heading">{{ product.heading }}</h3>{% endif %}
                        {% if product.caption is not empty %}<p class="section-product-gallery-feature__caption-subheading">{{ product.caption }}</p>{% endif %}
                    </div>
                    <a class="section-product-gallery-feature__product-link"  href="{{ product.url }}" target="_blank" rel="nofollow"></a>
                </div>
            {% endfor %}
        </div>
        <div class="section-product-gallery-feature__thumbnail-images">
            {% for product in form.vars.value.products %}
                <div class="section-product-gallery-feature__thumbnail-product" data-image="{{ loop.index }}">
                    <img class="section-product-gallery-feature__thumbnail-product-image" src="{{ product.thumbnail }}" alt="{{ product.heading }} {{ product.caption }}" />
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class="section-product-gallery-form">
    <ul class="sortable">
        {% for product in form.vars.value.products %}
            {% embed 'ThreadAndMirrorProductsBundle:Section:productGalleryProduct.html.twig' %}{% endembed %}
        {% endfor %}
    </ul>
    <div class="section-product-gallery-form__add-item" data-productgallery-id="{{ form.vars.value.id }}">
        <input class="section-product-gallery-form__add-item-input" type="text" placeholder="Product Link">
        <a class="btn btn-small btn-primary section-product-gallery-form__item-btn from-link"><i class="fa fa-plus"></i> Add Product From Link</a>
        <label class="section-product-gallery-form__add-item-label">or</label>
        <a href="/admin/products/popup/add-product-gallery-product/{{ form.vars.value.id }}" class="btn btn-small btn-primary rest-get-popup section-product-gallery-form__item-btn"><i class="fa fa-plus"></i> Add Product Manually</a>
        <img class="section-product-gallery-form__add-item-loader" src="/images/admin/icons/loader-add-to-gallery.gif" width="32" height="32">
    </div>
    <br class="clear">
</div>