<footer class="footer" id="footer">
    <div class="container">
        <div class="col-md-2 col-xs-12">
            <ul class="footer__menu">
                <li class="footer__menu-item"><h6><a class="footer__menu-header-link" href="/">General</a></h6></li>
                <li class="footer__menu-item"><hr class="footer__hr"></li>
                <li class="footer__menu-item"><a class="footer__menu-item-link" href="/">Home</a></li>
                <li class="footer__menu-item"><a class="footer__menu-item-link" href="/about">About</a></li>
                {# <li class="footer__menu-item"><a class="footer__menu-item-link" href="/feedback">Feedback</a></li> #}
                <li class="footer__menu-item"><a class="footer__menu-item-link" href="/contact">Contact</a></li>
                <li class="footer__menu-item"><a class="footer__menu-item-link" href="/privacy-policy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-xs-12">
            <ul class="footer__menu footer__menu--overlined">
                <li class="footer__menu-item"><h6><a class="footer__menu-header-link" href="/magazine">Magazine &amp; Media</a></h6></li>
                <li class="footer__menu-item"><hr class="footer__hr"></li>
                <li class="footer__menu-item"><a class="footer__menu-item-link" href="/magazine">Magazine</a></li>
                {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="/style-file">Style File</a></li>#}
                {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="/social">The Social Circle</a></li>#}
                {# <li class="footer__menu-item"><a class="footer__menu-item-link" href="/editors-picks">Editors Picks</a></li> #}
            </ul>
        </div>
        <div class="col-md-2 col-xs-12">
            {#<ul class="footer__menu footer__menu--overlined">#}
                {#<li class="footer__menu-item"><h6><a class="footer__menu-header-link" href="/account">Account</a></h6></li>#}
                {#<li class="footer__menu-item"><hr class="footer__hr"></li>#}
                {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
                    {#&#123;&#35;<li class="footer__menu-item"><a class="footer__menu-item-link" href="/wishlist">My Wishlist</a></li>&#35;&#125;#}
                    {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="/social/my-circle">My Social Circle</a></li>#}
                    {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="/account">Manage Account</a></li>#}
                    {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="/logout">Sign Out</a></li>#}
                {#{% else %}#}
                    {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="/register">Register</a></li>#}
                    {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="/login">Sign In</a></li>#}
                {#{% endif %}#}
            {#</ul>#}
        </div>
        <div class="col-md-2 col-xs-12">
        {#<ul class="footer__menu footer__menu--overlined">#}
        {#<li class="footer__menu-item"><h6><a class="footer__menu-header-link" href="{{ path('thread_products_front_new_in', { 'area' : 'fashion' }) }}">Fashion</a></h6></li>#}
        {#<li class="footer__menu-item"><hr class="footer__hr"></li>#}
        {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="{{ path('thread_products_front_new_in', { 'area' : 'beauty' }) }}">New In</a></li>#}
        {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="{{ path('thread_products_front_sale', { 'area' : 'beauty' }) }}">Sale</a></li>#}
        {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="{{ path('thread_products_front_stores', { 'area' : 'beauty' }) }}">Stores</a></li>#}
        {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="{{ path('thread_products_front_brands', { 'area' : 'beauty' }) }}">Brands</a></li>#}
        {#&#123;&#35; <li class="footer__menu-item"><a class="footer__menu-item-link" href="/fashion/offers">Offers &amp; Discounts</a></li> &#35;&#125;#}
        {#</ul>#}
        </div>
        <div class="col-md-2 col-xs-12">
        {#<ul class="footer__menu footer__menu--overlined">#}
        {#<li class="footer__menu-item"><h6><a class="footer__menu-header-link" href="{{ path('thread_products_front_new_in', { 'area' : 'fashion' }) }}">Beauty</a></h6></li>#}
        {#<li class="footer__menu-item"><hr class="footer__hr"></li>#}
        {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="{{ path('thread_products_front_new_in', { 'area' : 'fashion' }) }}">New In</a></li>#}
        {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="{{ path('thread_products_front_sale', { 'area' : 'fashion' }) }}">Sale</a></li>#}
        {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="{{ path('thread_products_front_stores', { 'area' : 'fashion' }) }}">Stores</a></li>#}
        {#<li class="footer__menu-item"><a class="footer__menu-item-link" href="{{ path('thread_products_front_brands', { 'area' : 'fashion' }) }}">Brands</a></li>#}
        {#&#123;&#35; <li class="footer__menu-item"><a class="footer__menu-item-link" href="/beauty/offers">Offers &amp; Discounts</a></li> &#35;&#125;#}
        {#</ul>#}
        </div>
        <div class="col-md-2 col-xs-12">
            <ul class="footer__menu">
                <li class="social">
                    <a class="footer__social-link" href="http://www.pinterest.com/threadandmirror" rel="nofollow" target="_blank" ><i class="fa fa-pinterest"></i></a>
                    <a class="footer__social-link" href="http://instagram.com/threadandmirror" rel="nofollow" target="_blank" ><i class="fa fa-instagram"></i></a>
                    <a class="footer__social-link" href="http://www.twitter.com/threadandmirror" rel="nofollow" target="_blank" ><i class="fa fa-twitter"></i></a>
                    <a class="footer__social-link" href="http://www.facebook.com/threadandmirror" rel="nofollow" target="_blank" ><i class="fa fa-facebook"></i></a>
                </li>
                <li class="footer__menu-item"><br><br><br><br><p class="footer__menu-item-text--small">&copy; Thread &amp; Mirror {{ 'now'|date('Y') }}</p></li>
            </ul>
        </div>
    </div>
</footer>