{% import 'ThreadAndMirrorSocialBundle:Macro:social.html.twig' as macros %}

{% if post.image is not empty %}
	<figure class="social-circle-feed__post social-circle-feed__post--image social-circle-feed__post--{% if post.source == 'instagram' %}2x2{% elseif post.imageRatio < 0.75 %}2x1{% elseif post.imageRatio > 1.4 %}1x2{% else  %}1x1{% endif %}">
		<div class="social-circle-feed__image" style="background-image:url('{{ post.image }}');"></div>
			<figcaption class="social-circle-feed__caption social-circle-feed__caption--image">
				<h6 class="social-circle-feed__caption-header social-circle-feed__caption-header--text">
					<a class="social-circle-feed__owner social-circle-feed__owner--image" href="{{ post.feed.website }}" target="_blank" rel="nofollow">{{ post.feed.name }}</a>
					{% if post.source == 'instagram' %}
					<a class="social-circle-feed__source social-circle-feed__source--image" href="http://www.instagram.com/{{ post.feed.instagramHandle }}" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a>
				{% elseif  post.source == 'twitter' %}
					<a class="social-circle-feed__source social-circle-feed__source--image" href="http://www.twitter.com/{{ post.feed.twitterHandle }}" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a>
				{% elseif  post.source == 'tumblr' %}
						<a class="social-circle-feed__source social-circle-feed__source--image" href="http://{{ post.feed.tumblrHandle }}.tumblr.com/" target="_blank" rel="nofollow"><i class="fa fa-tumblr"></i></a>
				{% endif %}
					{#<a class="add-to-my-circle {% if post.feed.id|isFavouriteFeed(app.user) %}favourite-feed{% endif %}" title="Add {{ post.feed.name }} to your Social Circle" data-id="{{ post.feed.id }}"><i class="fa fa-heart"></i></a>#}
				</h6>
				{% if post.caption is not empty %}<p class="social-circle-feed__text social-circle-feed__text--image">{{ post.caption|raw }}</p>{% endif %}
			</figcaption>
		<a class="social-circle-feed__link" href="{{ post.url }}" rel="nofollow" target="_blank"></a>
	</figure>
{% else %}
	<figure class="social-circle-feed__post social-circle-feed__post--text social-circle-feed__post--1x1">
		<figcaption class="social-circle-feed__caption social-circle-feed__caption--text">
			<div class="social-circle-feed__text-wrapper">
				<h6 class="social-circle-feed__caption-header social-circle-feed__caption-header--text">
					<a class="social-circle-feed__owner social-circle-feed__owner--text" href="{{ post.feed.website }}" target="_blank" rel="nofollow">{{ post.feed.name }}</a>
					{% if post.source == 'instagram' %}
						<a class="social-circle-feed__source social-circle-feed__source--text" href="http://www.instagram.com/{{ post.feed.instagramHandle }}" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a>
					{% elseif  post.source == 'twitter' %}
						<a class="social-circle-feed__source social-circle-feed__source--text" href="http://www.twitter.com/{{ post.feed.twitterHandle }}" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a>
					{% elseif  post.source == 'tumblr' %}
						<a class="social-circle-feed__source social-circle-feed__source--text" href="http://{{ post.feed.tumblrHandle }}.tumblr.com/" target="_blank" rel="nofollow"><i class="fa fa-tumblr"></i></a>
					{% endif %}

					{#<a class="add-to-my-circle #}
						{#{% if post.feed.id|isFavouriteFeed(app.user) %}#}
							{#favourite-feed" title="{{ post.feed.name }} is in your Social Circle" #}
						{#{% else %}#}
							{#" title="Add {{ post.feed.name }} to your Social Circle" #}
						{#{% endif %}#}
					{#data-id="{{ post.feed.id }}"><i class="fa fa-heart"></i></a>#}
				</h6>
				<p class="social-circle-feed__text social-circle-feed__text--text">{{ post.caption|raw }}</p>
			</div>
		</figcaption>
		<a class="social-circle-feed__link" href="{{ post.url }}" rel="nofollow" target="_blank"></a>21
	</figure>
{% endif %}